.film {
  color: white;
  margin: 0 auto;
  color: #555;
  img {
    width: 375px;
  }
  .film-title {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    &_name {
      font-size: 20px;
      font-weight: 500;
    }
    &__year {
      border: 1px solid #555;
      padding: 3px 7px;
      border-radius: 3px;
      font-size: 15px;
    }
  }
  .film-genre {
    font-size: 15px;
  }
}
