@import "../../variables";

.form-wrapper {
  z-index: 100;
  position: fixed;
  height: 100%;
  top: 0;
  background-color: #232323ad;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  .close {
    width: 27px;
    height: 27px;
    font-weight: 300;
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    &:after {
      font-size: 40px;
      display: block;
      content: "×";
      position: absolute;
      line-height: 0;
      top: 9px;
      right: 0px;
      color: white;
      z-index: 1000;
    }
  }
}
